# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# NodeJS Excludes
/node_modules
npm-debug.log

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
